<% flash.each do |type, message| %>
  <div class="flash-message flash-<%= type %>" id="flash-<%= type %>">
    <span class="flash-text"><%= message %></span>
    <button class="flash-close" onclick="this.parentElement.remove()" aria-label="Dismiss">&times;</button>
  </div>
<% end %>
